language: perl
perl:
  # - "5.10"
  # - "5.12"
  # - "5.14"
  # - "5.16"
  - "5.18"
  # - "5.20"


before_script:
  - cpanm --quiet --notest --skip-satisfied Devel::Cover Devel::Cover::Report::Codecov

script:
  - HARNESS_PERL_SWITCHES="-MDevel::Cover=+ignore,^local/|^t/" prove -r t

after_success:
  - cover -report codecov

notifications:
  slack:
    secure: "MvDLs0KQefxHoEaUYfWDEK1IQUyE2lcjbd7Q6FC9+HkYY+Ls+D/+y83Ihy4KiYcqF3lA9hNyPyiizLxUNMakRmjHs9uUEA8klPT6fjmUnWFrICTaP0oDUmNlwX4s3i/bniOo2J+Ipr5puvkOZiEh4Ir5NM9PIRw6I58zdBA76cs6MjLPdUOVgbAAgtrm82/+Dst8fNBUibIbywBmAWEByhBa/fVMMdIWTpgx0SicEQyp9RD1ASfRAltVyC3nEkf2Fjenntx0g6Kj8XlTlcgJ9qTziVky6pGeDLFcoi97/jKp4Yp1uRV0e8DTJsXCW0ZVvhylsNnF4SggvMjkIbYCOSMRq7pu68hIt3pgSDxyDPN8AtIK1Do+EXp3a/bS37aMqYbc7U02eoQDcL6dTg85F8o9UslKEh/Wykb63bcD8KvnJZNOGIhnKei7YoS2U38zakNsCLmAXb0UYwtHrp5uFXE/jkcFu8HP2RQnYQvVGnctcVQx5h8VulahAO2kVxOIwGXcYEev9VfMOIm3p5R/zgFM1HRqkvJqF9izi4dFecTRrmesFAzef4QvlAe+Dt+Kewxn8xN4zwQTuiMNV5JHuEeBJdN/nqVxkLbM0bt92iKqAwgEDJjEkO8R08qNWdExcqKZ/Hyde+JZAuQo0Cn7mbVmoCdJsC97i2IioJU9MEc="
